# Виртуальное окружение
venv/

# Компилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы журналов
*.log

# Файлы базы данных SQLite (если используется)
*.sqlite3
*.sqlite3-journal

# Файлы статических данных и медиа (если эти папки используются)
/static/
/media/

# Файл секретных ключей
*.env

# Файлы настроек IDE или редактора
/.vscode/
/.idea/
